[submodule "plugins/realsense_gazebo_plugin"]
	path = plugins/realsense_gazebo_plugin
	url = https://github.com/issaiass/realsense_gazebo_plugin.git
[submodule "plugins/ros-carla-msgs"]
	path = plugins/ros-carla-msgs
	url = https://github.com/carla-simulator/ros-carla-msgs.git
[submodule "plugins/citysim"]
        path = plugins/citysim
        url = https://github.com/pilsbot/citysim.git
